body {
    background: rgb(10 13 37);
    color: white;
    padding: 2ren;
  }
  code {
      font-family: Menlo, Monaco, 'Courier New', monospace;
      font-size: 1rem;
      border-radius: 10px;
      left: 5px;
      margin-top: 0rem;
      overflow: auto;
      box-sizing: border-box;
      padding: 0 1.5rem 6.5rem 1.5rem;
      display: block;
      max-height: 500px;
      line-height: 1.25rem;
      border-radius: 12px;
      width: 100%;
      float: left;
      background: #1d2146a3;
      font-size: 0.875rem;
      max-width: 100%;
  }
  input {
    background: transparent;
  }
  button {
        height: 2.25rem;
      /* margin: 1rem 0 0 0; */
      /* width: 50%; */
      list-style: circle;
      cursor: pointer;
      float: left;
      background: linear-gradient(
  45deg,#027cfd,#027cfd);
      /* border-radius: 5px; */
      font-family: Inter, sans-serif;
      padding: 0.25rem 1rem;
      border-radius: 7px;
      width: auto;
      color: white;
      text-decoration: none;
      font-variation-settings: 'wght' 800;
      /* font-size: 1rem; */
      border: none;
      margin: 1rem 0 0 0;
      box-shadow: 0 2px 20px #000000c4;
      font-size: 1rem;
      letter-spacing: 0.5px;
  }
  #pixel-art-area {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      overflow: hidden;
      border-radius: 4px;
      padding: 2px 0 2px 2px;
  }
  
  #pixel-art-area .pixel {
      width: 0.825rem;
      margin: 0 2px 2px 0;
      height: 0.825rem;
      cursor: pointer;
      border-radius: 1px;
      background: #101532;
  }
  
  input[type="color"] { 
      height: 2rem;
      padding: 0;
      border-radius: 10px;
      height: 1.5rem;
      position: relative;
      border: none;
      cursor: pointer;
  }
  
  #pixel-art-options {
      display: flex;
  }
  
  .generate-css, .reset, .prebuilt > .current {    
      background: #3e40624a;
      box-shadow: none;
      margin: 0 1rem 1rem 0;
      font-variation-settings: 'wght' 400;
      letter-spacing: 0;
      border-radius: 4px;
      transform: scale(1);
      transition: all 0.05s ease-out;
  }
  
  .prebuilt .current:after {
      content: '\f078';
      margin: 0 0 0 0.5rem;
      font-family: 'Font Awesome 5 Pro', sans-serif;
  }
  .reset svg {
      margin: 0;
      padding: 0;
  }
  
  .generate-css:hover, .reset:hover, .prebuilt > .current:hover {
      background: #6366914a;
      transform: scale(1.02);
  }
  
  .prebuilt > .current {
      border-radius: 4px;
      padding: 0.25rem 1rem;
      line-height: 1.5rem;
      margin: 0 0 0 1.5rem;
  }
  .colors {
      margin-left: auto;
      margin-bottom: 1rem;
      position: relative;
      display: flex;
      align-items: center;
  }
  
  .colors > div {
      width: 1rem;
      cursor: pointer;
      height: 1rem;
      position: relative;
      border-radius: 100px;
      margin: 0 0.5rem 0 0;
  }
  
  .colors > div.current:after, input.current:after  {
      border: 1px solid rgba(255,255,255,0.4);
      position: absolute;
      content: '';
      border-radius: 100px;
      top: -3px;
      left: -3px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
  }
  input.current:after {
      top: 1px;
      left: -1px;
      width: calc(100% + 0px);
      height: calc(100% + -4px);
  }
  .prebuilt {
      position: relative;
      cursor: pointer;
  }
  .options {    
      background: #101532;
      border-radius: 4px;
      left: 1rem;
      position: absolute;
      top: 3rem;
      box-shadow: 0 1px 0 #282f55, 0 -1px 0 #3a416c, -1px 0 0 #282f55, 1px 0 0 #282f55;
  }
  
  input::-webkit-color-swatch {
      border-radius: 100px;
      width: 16px;
      cursor: pointer;
      height: 16px;
      border: none;
  }
  
  input[type="color"]:before {
      content: '';
      top: 4px;
      left: 2px;
      width: calc(100% - 4px);
      border-radius: 100px;
      height: calc(100% - 8px);
      background: rgba(255,255,255,0.125);
      position: absolute;
  }
  
  .options > div {    
      padding: 0.5rem;
      font-size: 0.925rem;
      border-bottom: 1px solid #282f547a;
      cursor: pointer;
      min-width: 150px;
  }
  
  input {
      position: relative;
  }
  
  .options {
      pointer-events: none;
      opacity: 0;
      transition: all 0.1s ease-out;
      transform: scale(0.95);
  }
  
  .options.active {
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
  }
  
  .options:after {
      content: '';
      position: absolute;
      top: -23px;
      left: 45px;
      border-color: transparent transparent #101532 transparent;
      border-width: 12px;
      border-style: solid;
  }
  .options:before {
      content: '';
      position: absolute;
      top: -25px;
      left: 45px;
      border-color: transparent transparent #1f2647 transparent;
      border-width: 12px;
      border-style: solid;
  }
  
  .eraser-container {
      display: flex;
      align-items: center;
      height: 2.25rem;
      position: relative;
  }
  
  .eraser {
      cursor: pointer;
  }
  
  .eraser.current:after {
      background: #24274c;
      content: '';
      top: 7px;
      left: -2px;
      width: 20px;
      border-radius: 100px;
      height: 20px;
      border: 1px solid rgba(255,255,255,0.5);
      z-index: -11;
      position: absolute;
  }
  
  #popup-pixel-art {
      position: fixed;
      background: white;
      top: 2rem;
      transform: scale(0.9);
      opacity: 0;
      pointer-events: none;
      left: 5rem;
      border-radius: 6px;
      left: calc(50% - 350px);
      width: 700px;
      padding: 1.5rem;
      box-sizing: border-box;
      max-height: calc(100% - 4rem);
      overflow: hidden;
  }
  
  #popup-pixel-art.active {
      transform: scale(1);
      opacity: 1;
      pointer-events: all;
      overflow: scroll;
  }
  
  #popup-pixel-art h2 {
      color: black;
      font-variation-settings: 'wght' 600;
      font-weight: 400;
      margin: 0 0 0rem 0;
      font-size: 1.5rem;
  }
  
  #popup-pixel-art code {
      background: #171b38;
  }
  
  #popup-pixel-art pre {
      width: calc(100% - 13rem);
  }
  
  #popup-pixel-art pre code {
      height: 185px;
  }
  
  #popup-pixel-art p {
      color: rgba(0,0,0,0.4);
      margin: 0.5rem 0 1rem 0;
      letter-spacing: 0px;
      font-size: 1rem;
      line-height: 1.5rem;
  }
  #popup-pixel-art pre code:before, 
  #popup-pixel-art pre code:after {
      display: none;
  }
  .pixelart {
      position: absolute;
      top: 5.5rem;
      right: 13rem;
  }
  
  .close {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      cursor: pointer;
  }
  .close svg {
      color: black;
  }
  @media screen and (max-width: 800px) {
      #pixel-art-area .pixel {
          width: 0.5rem;
          height: 0.5rem;
      }
  
      #pixel-art-area {
          width: calc(33rem - ( 0.325rem * 24) ) !important;
          height: calc(33rem - ( 0.325rem * 24) ) !important;
      }
      #pixel-art-options {
          width: calc(33rem - ( 0.325rem * 24) ) !important;
      }
      .colors > div {
          display: none;
      }
      .generate-css, .reset, .prebuilt > .current {  
          font-size: 0.825rem;
      } 
  
      #popup-pixel-art {
          width: 100%;
          left: 0;
      }
  }
  
  
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
      color: #6272a4;
  }
  
  .token.punctuation {
      color: #f8f8f2;
  }
  
  .namespace {
      opacity: .7;
  }
  
  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
      color: #66d9ef;
  }
  
  .token.boolean,
  .token.number {
      color: #bd93f9;
      font-weight: bold;
  }
  
  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
      color: #f2ff64;
  }
  
  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
      color: #f8f8f2;
  }
  
  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.class-name {
      color: #50fa7b;
      font-style: italic;
      font-weight: bold;
  }
  
  .token.keyword {
      color: #ff79c6;
      font-weight: bold;
  }
  
  .token.regex,
  .token.important {
      color: #ffb86c;
  }
  
  .token.important,
  .token.bold {
      font-weight: bold;
  }
  
  .token.italic {
      font-style: italic;
  }
  
  .token.entity {
      cursor: help;
  }
  
  .token.unit {
      color: #ff79c6;
  }
  
  .article-link a {
    margin: 0 0 2rem 0;
    color: rgba(255,255,255,0.75);
    font-size: 1.125rem;
    text-decoration: none;
    display: block;
    position: absolute;
    background: black;
    padding: 0.5rem 1.25rem; 
    border-radius: 100px;
    bottom: 0.5rem;
    right: 2rem;
  }
  
  .article-link a:hover {
    color: white;
  }